<div class="form-login">
  <div class="login-container">
    <div class="form-group">
      <h1>Faça seu cadastro</h1>
      <p-card header="Preencha suas credenciais">
        <form [formGroup]="formSubscribe" (ngSubmit)="onSubmit()" action="">
          <div class="form-group-inputs">
            <p-floatlabel>
              <input formControlName="name" pInputText  autocomplete="on" />
              <label for="name">Nome completo</label>
            </p-floatlabel>
            <p-floatlabel>
              <input formControlName="nascimento"  pInputText autocomplete="on" />
              <label for="nascimento">Data de nascimento</label>
            </p-floatlabel>
            <p-floatlabel>
              <input formControlName="email" pInputText  autocomplete="on" />
              <label for="email">E-mail</label>
            </p-floatlabel>
            <p-floatlabel>
              <p-password formControlName="password" inputId="over_label" autocomplete="off" />
              <label for="password">Senha</label>
            </p-floatlabel>
            <p-floatlabel>
              <p-password formControlName="confirmPassword" inputId="over_label" autocomplete="off" />
              <label for="email">Confirme sua senha</label>
            </p-floatlabel>
          </div>
          <p-button (click)=onSubmit() label="Cadastrar" />
        </form>
      </p-card>
    </div>
  </div>
</div>
<div class="card flex justify-center"></div>
