<div class="form-login">
    <div class="login-container">
        <h1>Faça seu login</h1>
        <div class="form-group">
            <p-card header="Login">
                <form action="">
                    <p-floatlabel>
                        <input pInputText pSize="small" autocomplete="on" placeholder="example@email.com">
                        <label for="email">Email</label>
                    </p-floatlabel>
                    <p-button label="Submit" />
                </form>
            </p-card>
        </div>
    </div>
</div>
<div class="card flex justify-center">
</div>
